body{
  padding: 70px;
  background-color: #f7f7f78f;
}

.hero-block{
align-self: center;
text-align: center;
}

.nav{
  padding: 20px 10px;
  margin: 0 10px;
  white-space: nowrap;
  align-self: center;
  text-align: center;
}

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  min-height: 100vh;
  margin: auto;
}

main{
  height:100%;
  display: flex;
  width: 100%;
}

.main-container{
  display: flex;
  flex-direction: column;
  margin: auto;
}

header{
  background-color:rgb(255, 255, 255);
}

.content{
  width:65%;
  font-family: "Cabin", sans-serif;
  background-color:rgb(88, 178, 238);
}

.information{
font-size: 25px;
display: block;
padding: 0px 40px 0px 70px;
text-align: justify;
}

.code{
display: flex;
background-color:rgb(245, 245, 245);
margin: auto;
align-self: center;
justify-content: center;
font-size: 20px;
}

aside {
  flex-direction: column;
  width: 35%;
  background-color:rgb(90, 79, 190);
  border-top-right-radius: var(--main-radius);
  background-color:cyan;
}

.section-header{
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
}

.name{
display: flex;
align-items: center;
font-size: 32px;
flex-direction: column;
text-decoration: underline;
}

.aside-list > li {
  font-weight: bold;
  margin: 10px 0 0 40px;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.contacts-list > li {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  text-align: right;
  align-items: baseline;
}

footer {
display: flex;
justify-content: space-around;
align-items: center;
font-weight: bold;
font-size: 20px;
background-color:rgb(176, 189, 165);
}

.contacts-list li p{
  margin-left:10px;
}

.skill p{
  font-size: 26px;
  text-align: center;
}
